.button {
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.34;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);

    border: 0px;
    border-radius: 5px;
    cursor: pointer;

    transition: background-color var(--transition-time) var(--cubic);
}

.button:hover,
.button:focus {
    background-color: #d75a01;
}