.film-card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  &__link {
    color: var(--main-text-color);
    text-decoration: none;
  }
  &__film-img {
    border-radius: 5px;
    margin-bottom: 12px;
    height: 398px;
    width: 100%;
    object-fit: cover;
    @media screen and (min-width: 767px) {
      height: 455px;
    }
    @media screen and (min-width: 1280px) {
      height: 574px;
    }
  }
  &__film-name {
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0em;
    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__footer {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    display: flex;
    color: var(--accent-text-color);
    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__genre {
    margin-right: 5px;
    &:after {
      content: '|';
      display: inline-block;
      margin-left: 5px;
    }
  }
}
