<!-- card template -->
<!-- <li class="film-card js-gallery__item">
         	<a href="#" class="film-card__link js-gallery__link">
            <img
              class="film-card__film-img js-gallery__img"
              src="${smallImg}"
              alt="${title}"
            />
            <h3 class="film-card__film-name js-gallery__title">${title}</h3>
            <p class="film-card__genre">${genresStr}${year}</p>
          </a>
        </li> -->

<section class="section">
  <div class="container">
    <ul class="film-card-list js-gallery">
      <!-- Render Data expected -->
    </ul>
  </div>
</section>
