<section class="section">
  <div class="container">
    <ul class="film-card-list">
      <!-- MOCK DATA -->
      <include src="./partials/card-film.html"></include>
      <include src="./partials/card-film.html"></include>
      <include src="./partials/card-film.html"></include>
      <include src="./partials/card-film.html"></include>
      <include src="./partials/card-film.html"></include>
      <include src="./partials/card-film.html"></include>
      <include src="./partials/card-film.html"></include>
      <include src="./partials/card-film.html"></include>
      <include src="./partials/card-film.html"></include>
      <include src="./partials/card-film.html"></include>
      <include src="./partials/card-film.html"></include>
      <include src="./partials/card-film.html"></include>
      <include src="./partials/card-film.html"></include>
      <include src="./partials/card-film.html"></include>
    </ul>
  </div>
</section>
