<header class=" header header__library">
    <div class="navigation__container">
        <a href class="logo">
            <svg class="logo__svg">
                <use href="./images/sprite.svg#film/"></use>
            </svg>

            <span class="logo__text">Filmoteka</span>
        </a>
        <nav class="navigation">
            <ul class="menu list">
                <li class="menu__item">
                    <a href class="link menu__link menu__link-home">Home</a>
                </li>
                <li class="menu__item">
                    <a href class="link menu__link menu__link-library current">Library</a>
                </li>
            </ul>
        </nav>
    </div>
  
    <div class="filter">
        <ul class="filter__list list">
            <li class="filter__item item">
                <button class="filter__button-lib" type="button">Watched</button>
            </li>
            <li class="filter__item item">
                <button class="filter__button-lib" type="button">Queue</button>
            </li>
        </ul>

    </div>
</header>