<header class=" header__library">
    <div class="navigation__container">
        <a href="./index.html" class="logo">
            <svg class="logo__svg" width="20" height="20">
                <use href="./images/sprite.svg#film"></use>
            </svg>
            <span class="logo__text">Filmoteka</span>
        </a>

        <nav class="navigation">
            <ul class="menu list">
                <li class="menu__item">
                    <a href="./index.html" class="link menu__link menu__link-home">Home</a>
                </li>
                <li class="menu__item">
                    <a href="./library.html" class="link menu__link menu__link-library current">Library</a>
                </li>
            </ul>
        </nav>
    </div>
  
        <ul class="filter__list">
            <li class="filter__item">
                <button class="filter__button" type="button">Watched</button>
            </li>
            <li class="filter__item">
                <button class="filter__button" type="button">Queue</button>
            </li>
        </ul>

</header>