<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a class="header__logo" href="./index.html">
        <svg class="header__icon" width="20" haith="20">
          <use href="./images/sprite.svg#film"></use>
        </svg>
        <span class="header__text">Filmoteka</span></a
      >
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link" href="./index.html">home</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="./library.html">my library</a>
        </li>
      </ul>
      <form>
        <input type="text" class="header__input" placeholder="Movie search" />
        <button class="button" type="submit"></button>
      </form>
    </nav>
  </div>
</header>
