<!-- Team modal window -->
<div class="backdrop is-hidden data-modal-team">
  <div class="modal-team">
    <button type="button" class="modal-team__close-btn">
      <svg class="modal__close-icon" width="30" height="30" aria-label="Close">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>

    <div class="slider-container">
      <section class="splide" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <div class="team-card poster">
                <img
                  class="team-card__poster"
                  src="./images/team/poster.jpg"
                  alt=""
                />
              </div>
            </li>

            <li class="splide__slide">
              <div class="team-card">
                <div class="team-card__img-container">
                  <img
                    class="team-card__img"
                    src="./images/team/Cameron.jpg"
                    alt=""
                  />
                </div>
                <div class="team-card__description">
                  <h3 class="team-card__description-title">James Cameron CC</h3>
                  <h4 class="team-card__description-role">director</h4>
                  <p class="team-card__description-text">
                    A major figure in the post-New Hollywood era, he is
                    considered one of the industry's most innovative filmmakers,
                    regularly pushing the boundaries of cinematic capability
                    with his use of novel technologies.
                  </p>
                </div>
              </div>
            </li>

            <li class="splide__slide">
              <div class="team-card">
                <div class="team-card__img-container">
                  <img
                    class="team-card__img"
                    src="./images/team/Lucas.jpg"
                    alt=""
                  />
                </div>
                <div class="team-card__description">
                  <h3 class="team-card__description-title">George Lucas</h3>
                  <h4 class="team-card__description-role">writer</h4>
                  <p class="team-card__description-text">
                    an American filmmaker. Lucas is best known for creating the
                    Star Wars and Indiana Jones franchises and founding
                    Lucasfilm, LucasArts, Industrial Light & Magic and THX. He
                    served as chairman of Lucasfilm before selling it to The
                    Walt Disney Company in 2012.
                  </p>
                </div>
              </div>
            </li>

            <li class="splide__slide">
              <div class="team-card">
                <div class="team-card__img-container">
                  <img
                    class="team-card__img"
                    src="./images/team/Cameron.jpg"
                    alt=""
                  />
                </div>
                <div class="team-card__description">
                  <h3 class="team-card__description-title">James Cameron CC</h3>
                  <h4 class="team-card__description-role">director</h4>
                  <p class="team-card__description-text">
                    A major figure in the post-New Hollywood era, he is
                    considered one of the industry's most innovative filmmakers,
                    regularly pushing the boundaries of cinematic capability
                    with his use of novel technologies.
                  </p>
                </div>
              </div>
            </li>

            <li class="splide__slide">
              <div class="team-card">
                <div class="team-card__img-container">
                  <img
                    class="team-card__img"
                    src="./images/team/Lucas.jpg"
                    alt=""
                  />
                </div>
                <div class="team-card__description">
                  <h3 class="team-card__description-title">George Lucas</h3>
                  <h4 class="team-card__description-role">writer</h4>
                  <p class="team-card__description-text">
                    an American filmmaker. Lucas is best known for creating the
                    Star Wars and Indiana Jones franchises and founding
                    Lucasfilm, LucasArts, Industrial Light & Magic and THX. He
                    served as chairman of Lucasfilm before selling it to The
                    Walt Disney Company in 2012.
                  </p>
                </div>
              </div>
            </li>

            <li class="splide__slide">
              <div class="team-card">
                <div class="team-card__img-container">
                  <img
                    class="team-card__img"
                    src="./images/team/Cameron.jpg"
                    alt=""
                  />
                </div>
                <div class="team-card__description">
                  <h3 class="team-card__description-title">James Cameron CC</h3>
                  <h4 class="team-card__description-role">director</h4>
                  <p class="team-card__description-text">
                    A major figure in the post-New Hollywood era, he is
                    considered one of the industry's most innovative filmmakers,
                    regularly pushing the boundaries of cinematic capability
                    with his use of novel technologies.
                  </p>
                </div>
              </div>
            </li>

            <li class="splide__slide">
              <div class="team-card">
                <div class="team-card__img-container">
                  <img
                    class="team-card__img"
                    src="./images/team/Lucas.jpg"
                    alt=""
                  />
                </div>
                <div class="team-card__description">
                  <h3 class="team-card__description-title">George Lucas</h3>
                  <h4 class="team-card__description-role">writer</h4>
                  <p class="team-card__description-text">
                    an American filmmaker. Lucas is best known for creating the
                    Star Wars and Indiana Jones franchises and founding
                    Lucasfilm, LucasArts, Industrial Light & Magic and THX. He
                    served as chairman of Lucasfilm before selling it to The
                    Walt Disney Company in 2012.
                  </p>
                </div>
              </div>
            </li>

            <li class="splide__slide">
              <div class="team-card">
                <div class="team-card__img-container">
                  <img
                    class="team-card__img"
                    src="./images/team/Cameron.jpg"
                    alt=""
                  />
                </div>
                <div class="team-card__description">
                  <h3 class="team-card__description-title">James Cameron CC</h3>
                  <h4 class="team-card__description-role">director</h4>
                  <p class="team-card__description-text">
                    A major figure in the post-New Hollywood era, he is
                    considered one of the industry's most innovative filmmakers,
                    regularly pushing the boundaries of cinematic capability
                    with his use of novel technologies.
                  </p>
                </div>
              </div>
            </li>

            <li class="splide__slide">
              <div class="team-card">
                <div class="team-card__img-container">
                  <img
                    class="team-card__img"
                    src="./images/team/Lucas.jpg"
                    alt=""
                  />
                </div>
                <div class="team-card__description">
                  <h3 class="team-card__description-title">George Lucas</h3>
                  <h4 class="team-card__description-role">writer</h4>
                  <p class="team-card__description-text">
                    an American filmmaker. Lucas is best known for creating the
                    Star Wars and Indiana Jones franchises and founding
                    Lucasfilm, LucasArts, Industrial Light & Magic and THX. He
                    served as chairman of Lucasfilm before selling it to The
                    Walt Disney Company in 2012.
                  </p>
                </div>
              </div>
            </li>

            <li class="splide__slide">
              <div class="team-card">
                <div class="team-card__img-container">
                  <img
                    class="team-card__img"
                    src="./images/team/Cameron.jpg"
                    alt=""
                  />
                </div>
                <div class="team-card__description">
                  <h3 class="team-card__description-title">James Cameron CC</h3>
                  <h4 class="team-card__description-role">director</h4>
                  <p class="team-card__description-text">
                    A major figure in the post-New Hollywood era, he is
                    considered one of the industry's most innovative filmmakers,
                    regularly pushing the boundaries of cinematic capability
                    with his use of novel technologies.
                  </p>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="team-card">
                <div class="team-card__img-container">
                  <img
                    class="team-card__img"
                    src="./images/team/Lucas.jpg"
                    alt=""
                  />
                </div>
                <div class="team-card__description">
                  <h3 class="team-card__description-title">George Lucas</h3>
                  <h4 class="team-card__description-role">writer</h4>
                  <p class="team-card__description-text">
                    an American filmmaker. Lucas is best known for creating the
                    Star Wars and Indiana Jones franchises and founding
                    Lucasfilm, LucasArts, Industrial Light & Magic and THX. He
                    served as chairman of Lucasfilm before selling it to The
                    Walt Disney Company in 2012.
                  </p>
                </div>
              </div>
            </li>

            <li class="splide__slide">
              <div class="team-card">
                <div class="team-card__img-container">
                  <img
                    class="team-card__img"
                    src="./images/team/Cameron.jpg"
                    alt=""
                  />
                </div>
                <div class="team-card__description">
                  <h3 class="team-card__description-title">James Cameron CC</h3>
                  <h4 class="team-card__description-role">director</h4>
                  <p class="team-card__description-text">
                    A major figure in the post-New Hollywood era, he is
                    considered one of the industry's most innovative filmmakers,
                    regularly pushing the boundaries of cinematic capability
                    with his use of novel technologies.
                  </p>
                </div>
              </div>
            </li>

            <li class="splide__slide">
              <div class="team-card">
                <div class="team-card__img-container">
                  <img
                    class="team-card__img"
                    src="./images/team/Lucas.jpg"
                    alt=""
                  />
                </div>
                <div class="team-card__description">
                  <h3 class="team-card__description-title">George Lucas</h3>
                  <h4 class="team-card__description-role">writer</h4>
                  <p class="team-card__description-text">
                    an American filmmaker. Lucas is best known for creating the
                    Star Wars and Indiana Jones franchises and founding
                    Lucasfilm, LucasArts, Industrial Light & Magic and THX. He
                    served as chairman of Lucasfilm before selling it to The
                    Walt Disney Company in 2012.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
