<!-- Team modal window -->
<div class="backdrop is-hidden data-modal-team">
  <div class="modal-team">
    <button type="button" class="modal-team__close-btn">
      <svg class="modal__close-icon" width="30" height="30" aria-label="Close">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>

    <div class="slider-container">
      <section class="splide" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <div class="spl"></div>
            </li>
            <li class="splide__slide">
              <div class="spl"></div>
            </li>
            <li class="splide__slide">
              <div class="spl"></div>
            </li>           
            <li class="splide__slide">
              <div class="spl"></div>
            </li>           
            <li class="splide__slide">
              <div class="spl"></div>
            </li>          
             <li class="splide__slide">
              <div class="spl"></div>
            </li>           
            <li class="splide__slide">
              <div class="spl"></div>
            </li>
            <li class="splide__slide">
              <div class="spl"></div>
            </li>
            <!-- <li class="splide__slide">
              <div class="spl">
                <img src="./images/12.jpg" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="spl">
                <img src="./images/12.jpg" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="spl">
                Lorem ipsum dolor
                <img src="./images/12.jpg" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="spl">
                Lorem ipsum dolor
                <img src="./images/12.jpg" alt="" />
              </div>
            </li>
          </ul> -->
        </div>
      </section>
    </div>

    <!-- <div class="team-info">
      <div class="team-leads-info">
        <div class="team-info__card">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates,
          dicta. Autem, pariatur asperiores nemo non laborum.
        </div>
        <div class="team-info__card">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates,
          dicta. Autem, pariatur asperiores nemo non laborum.
        </div>
      </div>
      <div class="team-members-info">
        <div class="team-info__card">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates,
          dicta. Autem, pariatur asperiores nemo non laborum.
        </div>
        <div class="team-info__card">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates,
          dicta. Autem, pariatur asperiores nemo non laborum.
        </div>
        <div class="team-info__card">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates,
          dicta. Autem, pariatur asperiores nemo non laborum.
        </div>
        <div class="team-info__card">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates,
          dicta. Autem, pariatur asperiores nemo non laborum.
        </div>
        <div class="team-info__card">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates,
          dicta. Autem, pariatur asperiores nemo non laborum.
        </div>
        <div class="team-info__card">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates,
          dicta. Autem, pariatur asperiores nemo non laborum.
        </div>
        <div class="team-info__card">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates,
          dicta. Autem, pariatur asperiores nemo non laborum.
        </div>
        <div class="team-info__card">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates,
          dicta. Autem, pariatur asperiores nemo non laborum.
        </div>
        <div class="team-info__card">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates,
          dicta. Autem, pariatur asperiores nemo non laborum.
        </div>
        <div class="team-info__card">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates,
          dicta. Autem, pariatur asperiores nemo non laborum.
        </div>
      </div>
    </div> -->
  </div>
</div>
