<!-- Modal window -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__close-btn" data-modal-close>
      <svg class="modal__close-icon" width="30" height="30" aria-label="Close">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="film__info-wrapper">
      <img
        class="film__img"
        id="film__poster-path"
        src="https://image.tmdb.org/t/p/w500/ulgKdif3ubMACDltr8VZy6fyVjW.jpg"
        alt=""
      />
      <div class="film__text-info-wrapper">
        <h3 class="film__title" id="film__title">A FISTFUL OF LEAD</h3>
        <ul class="film-info__list">
          <li class="film-info__item">
            <p class="film-info__label">Vote / Votes</p>
            <p class="film-info__desc">
              <span
                class="desc__voted desc__vote-average"
                id="film__vote-average"
                >7.3</span
              >
              /
              <span class="desc__voted desc__votes-count" id="film__vote-count"
                >1260</span
              >
            </p>
          </li>
          <li class="film-info__item">
            <p class="film-info__label">Popularity</p>
            <p class="film-info__desc" id="film__popularity">100.2</p>
          </li>
          <li class="film-info__item">
            <p class="film-info__label">Original Title</p>
            <p class="film-info__desc" id="film__original-title">
              A FISTFUL OF LEAD
            </p>
          </li>
          <li class="film-info__item">
            <p class="film-info__label">Genre</p>
            <p
              class="film-info__desc film-info__desc--normal-text"
              id="film__genre"
            >
              Western
            </p>
          </li>
        </ul>
        <p class="film__desc-label">About</p>
        <p class="film__desc film__overview" id="film__overview">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
        <div class="btn__wrapper">
          <button class="btn--film btn_watched watched_send" type="button">add to Watched</button>
          <button class="btn--film btn_queue queue_send" type="button">add to queue</button>
          <button
          id="trailer"
          data-movie-id="505642"
          class="btn--trailer"
          type="button"
        >
          <img src="../assets/youtube_btn.svg" alt="" />
        </button>
        </div>
        <div id="trailer-error" class="trailer-error"></div>
      </div>
    </div>
  </div>
</div>