<!-- Team modal window -->
<div class="backdrop is-hidden data-modal-team">
  <div class="modal-team">
    <button type="button" class="modal-team__close-btn">
      <svg class="modal__close-icon" width="30" height="30" aria-label="Close">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
      <section class="splide" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <div class="team-member">
                <img
                  class="team-member__img"
                  src="./images/team/01_Halai_Daria.gif"
                  alt=""
                />
              </div>
            </li>
            <li class="splide__slide">
              <div class="team-member">
                <img
                  class="team-member__img"
                  src="./images/team/02_Tretynnykov_Ihor.gif"
                  alt=""
                />
              </div>
            </li>
            <li class="splide__slide">
              <div class="team-member">
                <img
                  class="team-member__img"
                  src="./images/team/03_Barchuk_Andrii.gif"
                  alt=""
                />
              </div>
            </li>
            <li class="splide__slide">
              <div class="team-member">
                <img
                  class="team-member__img"
                  src="./images/team/04_Berko_Vitalii.gif"
                  alt=""
                />
              </div>
            </li>
            <li class="splide__slide">
              <div class="team-member">
                <img
                  class="team-member__img"
                  src="./images/team/05_Chykal_Aliona.gif"
                  alt=""
                />
              </div>
            </li>
            <li class="splide__slide">
              <div class="team-member">
                <img
                  class="team-member__img"
                  src="./images/team/06_Kuzin_Serhii.gif"
                  alt=""
                />
              </div>
            </li>
            <li class="splide__slide">
              <div class="team-member">
                <img
                  class="team-member__img"
                  src="./images/team/07_Pryidun_Volodymyr.gif"
                  alt=""
                />
              </div>
            </li>
            <li class="splide__slide">
              <div class="team-member">
                <img
                  class="team-member__img"
                  src="./images/team/08_Savchyn_Dmytro.gif"
                  alt=""
                />
              </div>
            </li>
            <li class="splide__slide">
              <div class="team-member">
                <img
                  class="team-member__img"
                  src="./images/team/09_Scherbak_Oleh.gif"
                  alt=""
                />
              </div>
            </li>
            <li class="splide__slide">
              <div class="team-member">
                <img
                  class="team-member__img"
                  src="./images/team/10_Sviatenko_Daria.gif"
                  alt=""
                />
              </div>
            </li>
            <li class="splide__slide">
              <div class="team-member">
                <img
                  class="team-member__img"
                  src="./images/team/11_Usatiuk_Oleksii.gif"
                  alt=""
                />
              </div>
            </li>
            <li class="splide__slide">
              <div class="team-member">
                <img
                  class="team-member__img"
                  src="./images/team/12_Usatiuk_Yana.gif"
                  alt=""
                />
              </div>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Team modal poster window -->

<div class="is-hidden poster-modal">
  <img
    class="modal-poster-img"
    src="./images/team/poster.jpg"
    alt="developer's team poster"
  />
</div>
