<div class="container container__pagination">
  <ul class="js-pagination">
    <!-- <li class="js-pagination__arrow-left is-hidden">
      <svg class="js-pagination__svg-left" width="20" height="20">
        <use
          class="js-pagination__use-left"
          href="./images/sprite.svg#arrow-left"
        ></use>
      </svg>
    </li>
    <div class="js-pagination__container">
    </div>
    <li class="js-pagination__arrow-right is-hidden">
      <svg class="js-pagination__svg-right" width="20" height="20">
        <use
          class="js-pagination__use-right"
          href="./images/sprite.svg#arrow-right"
        ></use>
      </svg>
    </li> -->
  </ul>
</div>
