<div class="container container__pagination">
  <ul class="js-pagination">
    <li class="js-pagination__arrow-left is-hidden">
      <svg class="js-pagination__svg-left" width="16" height="16">
        <use
          class="js-pagination__use-left"
          href="./images/sprite.svg#arrow-left"
          fill="#000000"
        ></use>
      </svg>
    </li>
    <div class="js-pagination__container">
      <!-- Render pagination here -->
    </div>
    <li class="js-pagination__arrow-right is-hidden">
      <svg class="js-pagination__svg-right" width="16" height="16">
        <use
          class="js-pagination__use-right"
          href="./images/sprite.svg#arrow-right"
          fill="#000000"
        ></use>
      </svg>
    </li>
  </ul>
</div>
