.header-library {
    height: 230px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      background-image: url(../images/background-with-red-chairs-mob.jpg);
   
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../images/background-with-red-chairs-mob@2x.jpg)
      }
    
        @media screen and (min-width: 768px) {
        max-width: 960px;
        height: 219px;
        background-image: url(../images/background-with-red-chairs-tab.jpg);
    
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url(../images/background-with-red-chairs-tab@2x.jpg);
        }
      }
    
      @media screen and (min-width: 1280px) {
        height: 216px;
        max-width: 1600px;
        background-image: url(../images/background-with-red-chairs-pc.jpg);
    
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url(../images/background-with-red-chairs-pc@2x.jpg);
        }
      }
    }

.header-lib__container {  
 padding-top: 40px;
 margin-bottom: 60px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

// .logo {
//   display: flex;
//   align-self: flex-end;

//   @include for-mobile-only {
//     margin-right: 112px;
//   }

//   @include for-tablet-only {
//     margin-right: 303px;
//   }

//   @include for-desktop-up {
//     margin-right: 564px;
//   }
// }




// .logo__svg {
//   justify-content: center;
//   display: block;
//   align-self: center;
//   stroke: #818181;
//   transition-property: stroke;
 


//   @include for-tablet-only {
//     margin-right: 10px;
//   }
//   @include for-desktop-up {
//     margin-right: 10px;
//   }
// }


// .logo__text {
//   font-size: 30px;
//   line-height: 1.72;
//   font-weight: 500;
//   color: var(--secondary-text-color);

//   @include for-mobile-only {
//     display: none;
//   }
// }

.filter__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 19.94px;
  @include for-tablet-up {
    margin-right: 15px;
  }
}

.filter__button {
  width: 129.53px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px 36.19px 12px;
  min-width: 129.53px;
  font-weight: 500;
  line-height: 1.33333;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  background: transparent;
  border: 1px solid var(--secondary-text-color);
  border-radius: 5px;

  @include for-tablet-up {
    padding-left: 38px;
    padding-right: 38px;
    min-width: 136px;
  }
}

.filter__button--active,
.filter__button:hover,
.filter__button:focus {
  border: 1px solid var(--accent-elem-color);
  background: var(--accent-elem-color);
  box-shadow: 0 8px 43px rgb(255 107 1 / 60%);
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.menu__link.current:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7%;
  width: 69px;
  height: 3px;
  border-radius: 2px;
  background-color: #ff6b08;
}