.modal-team {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 10px;

  background-image: url(../images/team/modal-bg-img2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 10px;

  // background-color: teal;

  @media screen and (max-width: 767px) {
    width: 275px;
    height: 420px;
  }

  @media screen and (min-width: 768px) {
    width: 670px;
    height: 390px;
  }
  @media screen and (min-width: 1280px) {
    width: 1000px;
    height: 560px;
  }
}

.modal-team__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  background-color: transparent;
  border: none;
  stroke: var(--main-text-color);
  cursor: pointer;

  &:hover,
  &:focus {
    stroke: var(--accent-elem-color);
  }
}

.splide__slide {
  display: flex;
  justify-content: center;
}

.team-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../images/team/film_frame.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  @media screen and (max-width: 767px) {
    width: 200px;
    height: 400px;
  }

  @media screen and (min-width: 768px) {
    width: 600px;
    height: 350px;
  }
  @media screen and (min-width: 1280px) {
    width: 800px;
    height: 500px;
  }
}

.team-card.poster {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: none;
}

.team-card__poster {
  object-fit: contain;
  height: 100%;
}

.team-card__img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.team-card__img-container {
  background-color: #fff;
  @media screen and (max-width: 767px) {
    width: 78px;
    height: 115px;
  }

  @media screen and (min-width: 768px) {
    width: 150px;
    height: 220px;
  }
  @media screen and (min-width: 1280px) {
    width: 210px;
    height: 310px;
  }
}
.team-card__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  background-color: mediumaquamarine;

  @media screen and (max-width: 767px) {
    width: 78px;
    height: 115px;
    margin-left: 3px;
    padding: 2px;
  }

  @media screen and (min-width: 768px) {
    width: 150px;
    height: 220px;
    margin-left: 5px;
    padding: 5px;
  }
  @media screen and (min-width: 1280px) {
    width: 210px;
    height: 310px;
    margin-left: 10px;
    padding: 15px;
  }
}

.team-card__description-title {
  @media screen and (max-width: 767px) {
    font-size: 8px;
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
  }
}

.team-card__description-role {
  @media screen and (max-width: 767px) {
    font-size: 7px;
  }

  @media screen and (min-width: 768px) {
    font-size: 10px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.team-card__description-text {
  @media screen and (max-width: 767px) {
    font-size: 6px;
  }

  @media screen and (min-width: 768px) {
    font-size: 8px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 12px;
  }
}
