.modal-team {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 10px;
  background-color: var(--secondary-text-color);
  height: 75%;
  // width: 95%;

  // @media screen and (max-width: 319px) {
  //    min-width: 300px;
  // }
  @media screen and (max-width: 767px) {
    width: 275px;
    height: 90%;
  }
  // @media screen and (min-width: 320px) {
  //   width: 275px;
  //   // max-height: 250px;
  // }
  @media screen and (min-width: 768px) {
    width: 680px;
    // max-height: 250px;
  }
  @media screen and (min-width: 1280px) {
    width: 1210px;
    height: 85%;
  }
}

.team-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
}
.team-leads-info {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.team-members-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.team-info__card {
  background-color: green;
  border: 1px solid black;
  width: 120px;
  background-image: url(../images/film_frame.png);
  background-size: contain;
}

.modal-team__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  background-color: transparent;
  border: none;
  stroke: var(--main-text-color);
  cursor: pointer;

  &:hover,
  &:focus {
    stroke: var(--accent-elem-color);
  }
}

.spl {
  width: 50px;
  height: 300px;
  text-align: center;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
