.modal-team {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(/src/images/abstract-background-with-red-lines-mob@2x.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;

  @media screen and (max-width: 767px) {
    width: 275px;
    height: 700px;
    // padding: 10px 15px;
  }

  @media screen and (min-width: 768px) {
    width: 670px;
    height: 390px;
    // padding: 10px 45px;
  }
  @media screen and (min-width: 1280px) {
    width: 1000px;
    height: 560px;
    // padding: 10px 10px;
  }
}

.modal-team__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 35px;
  height: 35px;

  background-color: transparent;
  border: 2px solid var(--secondary-text-color);
  border-radius: 50%;
  stroke: var(--secondary-text-color);
  cursor: pointer;

  &:hover,
  &:focus {
    stroke: var(--accent-elem-color);
    border: 2px solid var(--accent-elem-color);
  }
}

.splide__slide {
  display: flex;
  justify-content: center;
}

.team-member {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-member__img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 767px) {
    &.tehnologies {
      object-fit: contain;
      border: none;
    }
    border: 4px solid var(--secondary-text-color);
    border-radius: 4px;
  }

  @media screen and (min-width: 768px) {
    border: 8px solid var(--secondary-text-color);
    border-radius: 5px;
  }

  @media screen and (min-width: 1280px) {
    border: 15px solid var(--secondary-text-color);
    border-radius: 6px;
  }
}

.poster-modal {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 1;
  visibility: visible;
  // transform: scale(1);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
// transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);

.poster-modal.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  // transform: scale(0.5);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
// transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);

.modal-poster-img {
  object-fit: contain;
  height: 95%;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    border-radius: 5px;
  }

  @media screen and (min-width: 768px) {
    border-radius: 5px;
  }

  @media screen and (min-width: 1280px) {
    border-radius: 10px;
  }
}

.modal-poster-img.is-hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-modal-team {
  opacity: 1;
  visibility: visible;
  // transform: scale(1);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
// transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
.data-modal-team.is-hidden {
  opacity: 0;
  visibility: hidden;
  // transform: scale(0.3);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
// transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);

.splide__arrow.splide__arrow--next svg {
  fill: #fff;
}

.splide__arrow.splide__arrow--prev svg {
  fill: #fff;
}
